.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #ffffff;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerLogo img {
  height: 40px;
}

.headerNav {
  display: flex;
  gap: 16px;
}

.navButton {
  background: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  padding: 8px 12px;
  border-radius: 6px;
}

.navButton:hover {
  color: #1abc9c;
  background: rgba(255,255,255,0.05);
}

.botaoPerfil {
  background-image: url('../assets/foto-perfil.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;     
  height: 40px;
  border: none;     
  cursor: pointer;  
  text-indent: -9999px; 
}